section,
.site-main
  padding-top: 10rem
  padding-bottom: 10rem
  +sm-block
    padding-top: 5rem
    padding-bottom: 5rem

.section-title
  margin-bottom: 6rem
  +sm-block
    margin-bottom: 3rem
.section-descr
  font-size: 1.6rem
  +sm-block
    br
      display: none

.section-head
  margin-bottom: 10rem
  +to(1400px)
    margin-bottom: 6rem
  .section-title
    margin-bottom: 0
    & + .section-descr
      margin-top: 2rem
      margin-bottom: 0